################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/*/.vs
/LocalClient/.vs
/SimpleClient/.vs
/SimpleServer/.vs