################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/*/.vs
/LocalClient/.vs
/SimpleClient/.vs
/SimpleServer/.vs
/*/bin/Debug
/VierGewinntServer/VierGewinntServer/obj/Debug/VierGewinntServer.csprojResolveAssemblyReference.cache
/VierGewinntServer/VierGewinntServer/bin/Debug/VierGewinntServer.vshost.exe.manifest
/VierGewinntServer/VierGewinntServer/bin/Debug/VierGewinntServer.vshost.exe.config
/VierGewinntServer/VierGewinntServer/bin/Debug/VierGewinntServer.vshost.exe
/VierGewinntClient/VierGewinntClient/obj/Debug/VierGewinntClient.csprojResolveAssemblyReference.cache
/VierGewinntClient/VierGewinntClient/obj/Debug/VierGewinntClient.ChooseRoom.resources
/VierGewinntClient/VierGewinntClient/bin/Debug/VierGewinntClient.vshost.exe.manifest
/VierGewinntClient/VierGewinntClient/bin/Debug/VierGewinntClient.vshost.exe.config
/VierGewinntClient/VierGewinntClient/bin/Debug/VierGewinntClient.vshost.exe
